body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#ffd6ec,#e6d6ff);
color:#4b3b50;
}

/* NAVBAR */

nav{
background:white;
padding:18px;
text-align:center;
}

nav a{
color:#ff69b4;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#9b5de5;
}

/* HERO */
.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

/* BUTTON */

.btn{
background:#ff69b4;
color:white;
border:none;
padding:12px 25px;
border-radius:25px;
cursor:pointer;
}

/* CARD */

.card{
background:white;
padding:25px;
margin:20px;
border-radius:20px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

/* FLOATING DOLL */

.doll{
position:fixed;
bottom:20px;
right:20px;
width:80px;
animation:float 4s infinite;
}

/* CURSOR */

.cursor{
width:18px;
height:18px;
background:#ff69b4;
border-radius:50%;
position:fixed;
pointer-events:none;
transform:translate(-50%,-50%);
}

/* ANIMATION */

@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0);}
}
